body{
    background: #cccccc;;
}
#title, .subtitle, .post_title{
    color: blue;
}

.post_title{
    font-size: 16;
    font-style: italic;
}
.post{
    background: #ffffff;
    padding: 10px;
    border: 3px solid #000000;
    margin: 10px;
}